---
title: 'Engagement: Usage trends'
description: 'In this topic, you will learn about Insights data for engagement usage trends. These metrics will
improve customer visibility and help guide company decisions.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

   {% include s-audience-insights/engagement/engagement-usage-trends-introduction.html %}

   {% include s-audience-insights/engagement/engagement-usage-trends-usage-trends-section.html%}

   {% include s-audience-insights/engagement/engagement-milestones.html %}

</article>