---
title: 'Engagement: Hours Viewed By'
description: 'In this topic, you will learn about Insights data for engagement hours viewed by category. These metrics help
obtain data related to the hours viewed for users.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/engagement/engagement-hours-viewed-by-introduction.html %}

    {% include s-audience-insights/engagement/engagement-hours-viewed-by-hours-viewed.html %}
    
    <!-- {% include s-audience-insights/engagement/engagement-hours-viewed-by-average-hours-viewed.html %} -->

</article>