---
title: 'Engagement: Sessions Over Time'
description: 'In this topic, you will learn about engagement sessions over time through the Insights data. These metrics will help obtain data related to the sessions over time, broken down by engagement status.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/engagement/engagement-sessions-over-time-introduction.html %}

    {% include s-audience-insights/engagement/engagement-sessions-over-time-sessions-over-time-section.html%}

    {% include s-audience-insights/engagement/engagement-milestones.html %}


</article>