---
title: Insights
description: This topic covers the metrics available in the Insights page of Analytics.
parent: Analytics
---

<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <aside class="bcls-aside bcls-aside--information language-editable">Insights is currently in <strong>Limited Availability</strong>.</aside>

  {% include s-audience-insights/essential-insights/essential-insights-introduction.html %}

  {% include s-audience-insights/essential-insights/set-data-period.html %}

  {% include s-audience-insights/essential-insights/download-reports.html %}

  {% include s-audience-insights/essential-insights/usage-trends.html %}

  {% include s-audience-insights/essential-insights/milestones.html %}

  {% include s-audience-insights/essential-insights/hours-by-device.html %}

  {% include s-audience-insights/essential-insights/hours-by-location.html %}

  {% include s-audience-insights/essential-insights/sessions-over-time.html %}
 
  {% include s-audience-insights/essential-insights/content-trends.html %}

  {% include s-audience-insights/essential-insights/understanding-viewers.html %}
 
  {% include s-audience-insights/essential-insights/essential-insights-limitations.html %}

</article>