[submodule "_includes/s-admin-img"]
	path = _includes/s-admin-img
	url = https://github.com/BrightcoveLearning/s-admin-img
  branch = main
[submodule "_includes/s-admin"]
	path = _includes/s-admin
	url = https://github.com/BrightcoveLearning/s-admin
  branch = main
