[submodule "_includes/s-admin"]
	path = _includes/s-admin
	url = https://github.com/BrightcoveLearning/s-admin
  branch = main
[submodule "assets/images/s-admin-img"]
	path = assets/images/s-admin-img
	url = https://github.com/BrightcoveLearning/s-admin-img
  branch = main
[submodule "_includes/s-cloudplayout"]
	path = _includes/s-cloudplayout
	url = https://github.com/BrightcoveLearning/s-cloudplayout
  brach = main
[submodule "assets/images/s-cloudplayout-img"]
	path = assets/images/s-cloudplayout-img
	url = https://github.com/BrightcoveLearning/s-cloudplayout-img
  branch = main
