[submodule "_includes/s-admin"]
	path = _includes/s-admin
	url = https://github.com/BrightcoveLearning/s-admin
  branch = main
[submodule "assets/images/s-admin-img"]
	path = assets/images/s-admin-img
	url = https://github.com/BrightcoveLearning/s-admin-img
  branch = main
[submodule "_includes/s-cloudplayout"]
	path = _includes/s-cloudplayout
	url = https://github.com/BrightcoveLearning/s-cloudplayout
  branch = main
[submodule "assets/images/s-cloudplayout-img"]
	path = assets/images/s-cloudplayout-img
	url = https://github.com/BrightcoveLearning/s-cloudplayout-img
  branch = main
[submodule "_includes/s-social"]
	path = _includes/s-social
	url = https://github.com/BrightcoveLearning/s-social
  branch = main
[submodule "assets/images/s-social-img"]
	path = assets/images/s-social-img
	url = https://github.com/BrightcoveLearning/s-social-img
  branch = main
[submodule "_includes/s-players"]
	path = _includes/s-players
	url = https://github.com/BrightcoveLearning/s-players
  branch = main
[submodule "assets/images/s-players-img"]
	path = assets/images/s-players-img
	url = https://github.com/BrightcoveLearning/s-players-img
  branch = main
[submodule "_includes/s-publish"]
	path = _includes/s-publish
	url = https://github.com/BrightcoveLearning/s-publish
  branch = main
[submodule "assets/images/s-publish-img"]
	path = assets/images/s-publish-img
	url = https://github.com/BrightcoveLearning/s-publish-img
  branch = main
[submodule "_includes/s-media"]
	path = _includes/s-media
	url = https://github.com/BrightcoveLearning/s-media
  branch = main
[submodule "assets/images/s-media-img"]
	path = assets/images/s-media-img
	url = https://github.com/BrightcoveLearning/s-media-img
  branch = main
[submodule "_includes/s-analytics"]
	path = _includes/s-analytics
	url = https://github.com/BrightcoveLearning/s-analytics
  branch = main
[submodule "assets/images/s-analytics-img"]
	path = assets/images/s-analytics-img
	url = https://github.com/BrightcoveLearning/s-analytics-img
  branch = main
[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
[submodule "_includes/s-general"]
	path = _includes/s-general
	url = https://github.com/BrightcoveLearning/s-general
  branch = main
[submodule "assets/images/s-general-img"]
	path = assets/images/s-general-img
	url = https://github.com/BrightcoveLearning/s-general-img
  branch = main
[submodule "_includes/s-jekyll-page-includes"]
	path = _includes/s-jekyll-page-includes
	url = https://github.com/BrightcoveLearning/s-jekyll-page-includes
[submodule "_includes/s-support"]
	path = _includes/s-support
	url = https://github.com/BrightcoveLearning/s-support
  branch = main
[submodule "assets/images/s-support-img"]
	path = assets/images/s-support-img
	url = https://github.com/BrightcoveLearning/s-support-img
  branch = main
