---
title: 'Content: Popular Content'
description: 'In this topic, you will learn about the popular content metrics included in the Audience Insights data. These metrics will help you filter the popular content among your subscribers, allowing you to have a more detailed view of the trending content.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/content/popular-content-introduction.html %}

    {% include s-audience-insights/content/popular-content-popular-content-by.html %}

    {% include s-audience-insights/content/popular-content-milestones.html %}

    {% include s-audience-insights/content/popular-content-key-metrics.html %}

    {% include s-audience-insights/content/popular-content-summary-engagement.html %}
</article>