---
title: 'Content: Trial Drivers and Library Breakdown'
description: 'In this topic, you will learn about the trial drivers and library breakdown metrics included in the Audience Insights data. These metrics will help you filter how engaged new trial users are with your content and provide details about your library consumption.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/content/content-trial-drivers-library-introduction.html %}
    
    {% include s-audience-insights/content/content-trial-drivers-library-trial-drivers-by.html %}
    
    {% include s-audience-insights/content/content-trial-drivers-library-library-breakdown-by.html %}
    
</article>