---
title: 'Content: Catalog and Explorer'
description: 'In this topic, you will learn about the content catalog and content explorer metrics included in the Audience Insights data. These metrics allow you to see really big pictures, as well as incredibly detailed views of your content consumption.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

{% include s-audience-insights/content/content-catalog-introduction.html %}

{% include s-audience-insights/content/content-catalog-content_catalog_by.html %}

{% include s-audience-insights/content/content-catalog-content-export-by.html %}
    
</article>