  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- <script src="https://support.brightcove.com/site-assets/js/sitehttps-fix.js"></script> -->
  <script src="https://support.brightcove.com/site-assets/js/sitesetDate.js"></script>
  {% if page.layout != 'api-reference' %}
  <script src="https://support.brightcove.com/site-assets/js/siteprism.js"></script>
  {% endif %}
  <script src="https://support.brightcove.com/site-assets/js/sitesite.js"></script>
  <script src="/assets/js/details.js"></script>
  <!-- <script src="/assets/js/expand-dl.js"></script> -->

  <!-- <script src="https://support.brightcove.com/site-assets/js/sitetabs.js"></script> -->
  <!-- <script src="https://support.brightcove.com/site-assets/js/sitetoc.js"></script> -->
  <!-- <script src="/assets/js/sites_nav.js"></script> -->
  <script src="https://support.brightcove.com/site-assets/js/sitebcls-utils.js"></script>
  <!-- <script src="https://support.brightcove.com/site-assets/js/sitelocal-link-fix.js"></script> -->
  <!-- <script src="/assets/js/feedback.js"></script> -->
  <!-- <script src="/assets/js/local.js"></script> -->
	<script translate="no">
		feather.replace()
	</script>
</body>

</html>