<header style="font-size: 12px;">
<!-- <img id="back_button" src="/assets/images/feather/arrow-left.svg" alt="Back" style="opacity: .2;cursor: not-allowed;float: left;margin-right: 1rem;margin-left: 1rem;"> -->
<nav id="breadcrumbs" aria-label="breadcrumb" style="display: inline-block;">
  <ol class="breadcrumb arr-right">
    {% if page.parent and page.name != "index.html" %}
    <li class="breadcrumb-item"><a href="/{{ page.section }}/help/index.html">{{ page.parent | capitalize }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>
</header>
