---
title: Integrations
description: 'Learn how to integrate the Campaign module with marketing automation platforms.'
parent: Marketing Automation
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="page_wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.parent %}
      <section class="flex-container">
        {% for entry in item.docs %}
          {% if entry.name == page.title %}
            {% for subentry in entry.docs %}
              <div>
                {% if subentry.docs %}
                    <h3><a href="{{ subentry.url }}">{{ subentry.name }}</a></h3>
                    <ul class="landing-page-item">
                      {% for subdoc in subentry.docs %}
                      <li><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
                      {% endfor %}
                    </ul>
                {% else %}
                  <div><a href="{{ subentry.url }}">{{ subentry.name }}</a></div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </section>
      {% endif %}
    {% endfor %}
  </section>
</article>
