---
title: Web Conferencing
description: This section contains topics that apply to integrating Brightcove Live with different web conferencing platforms.

parent: Home
---

<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Topics</h2>
        <ul>
        {% for item in site.data.navigation %}
        {% if item.name == page.title %}
              {% for entry in item.docs %}
                <li><a href="{{ entry.url }}">{{ entry.name }}</a>
                {% if entry.docs %}
                  <ul>
                    {% for subentry in entry.docs %}
                      <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </li>
              {% endfor %}
        {% endif %}
      {% endfor %}

      </div>
    </section>
  </section>
</article>
