---
title: Analytics
parent: Interactivity
grandparent: Home
description: This section contains information on Interactivity analytics.
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <h3 id="Topics_in_this_section">Topics in {{ page.title }}</h3>
  <summary>{{ page.description }}</summary>
  {% for item in site.data.navigation %}
{% if item.name == page.title %}
  <div class="col-12 col-lg-4 py-3">
    <div class="card shadow-sm" style="background: white" onclick="window.location.href = '{{ item.url }}'">
      <div class="card-body">
        <section class="flex-container">
          <div>
            <ul class="list-group list-group-flush">
              {% for entry in item.docs %}
              <li class="list-group-item"><a href="{{ entry.url }}" style="text-decoration: none;">{{ entry.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endif %}
{% endfor %}
  <!-- <section>
    <h3 id="Topics_in_this_section">Topics in {{ page.title }}</h3>
    <ul class="bcls-topic-list">
      {% for item in site.data.navigation %}
        {% if item.name == page.title %}
          {% for doc in item.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </section> -->
</article>